<div class="header">
    <img class="menuicon"
        src="../../assets/icons/hamburger.png"
        alt="" (click)="changeMenuVisibility()">
    <h1 class="storename" routerLink="/">Store</h1>
    <span class="buttons">
        <button routerLink="/profile">profile</button>
        <button routerLink="/cart">cart</button>
    </span>
</div>
<div class="menu" [ngStyle]="{'visibility': visible ? 'visible':'hidden'}">
    <p routerLink="/" (click)="changeTags($event)">Recommended</p>
    <p (click)="changeTags($event)">Goods By Roles</p>
    <p (click)="changeTags($event)">Goods By Categories</p>
</div>