* {
  font-size: large;
}

mat-card {
  width: 200px !important;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

mat-card-content {
  height: 40px;
  overflow:hidden;
  text-overflow: ellipsis;
}

.spacer {
  flex: 1 1 auto;
}