.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 200px;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  font-size: large;
}

.pic {
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.description {
  height: 40px;
  line-height: 20px;
  margin: 5px 0;
  overflow: hidden;
}
.purchaseControls {
  display: flex;
  align-items: stretch;
}
.price {
  align-self: center;
}
.addToCart {
  flex-grow: 1;
  height: 30px;
  margin-left: 5px;
  background-color: white;
  border: 0px;
  cursor: pointer;
}
.addToCart:hover {
  background-color: rgb(211, 211, 211);
}
