:host {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-inline: 10px;
}

th, td, mat-label, mat-flat-button {
  font-size: large;
}

.table-wrapper {
  flex:1;
}

.test-td {
  display: flex;
  flex-direction: row;
  align-items: center;
}

mat-card-content {
  min-width: 350px;
  display: flex;
  flex-direction: column;
}
mat-card-header .spacer {
  flex: 1 1 auto;
}