<div class="filter">
    <input type="text" placeholder="Search" class="fullWidth">
    <div class="price">
        <span class="priceLabel"> Price:
        </span>
        <input class="priceInput" type="text" placeholder="From">
        <input class="priceInput" type="text" placeholder="To">
    </div>
    <button class="fullWidth">Apply</button>
    <div class="tags">
        <span class="tag" *ngFor="let tag of tags" (click)="handleSelection(tag)"
            [ngStyle]="{'background-color':tag.selected===true?'rgba(159, 236, 220, 0.85)':'rgba(0,0,0,0.0)'}">{{tag.name}}</span>
    </div>
</div>