.filter {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    padding-top: 5px;
    font-size: large;
}
input[type="text"] {
    -webkit-box-sizing: border-box; // Safari/Chrome, other WebKit
    -moz-box-sizing: border-box;    // Firefox, other Gecko
    box-sizing: border-box;         // Opera/IE 8+
    font-size: large;
    border: 0px;
    border-bottom: 1px solid gray;
}

input[type="text"]:focus {
    border: 0px;
    border-bottom: 2px solid gray;
    outline: 0px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.container>* {
    margin-bottom: 10px;
}

.price {
    margin: 0;
}

.priceFilter {
    margin-right: 5px;
    width: 70px;
}

.fullWidth {
    width: 100%;
}

button {
    background-color: rgb(236, 236, 236);
    border: 0px;
    height: 25px;
    border-radius: 5px;
    font-size: large;
}
button:hover {
    background-color: rgb(211, 211, 211);;
}
.tag {
    float: left;
    margin-right: 5px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}