.filter {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    height: 500px;
    margin-top: 5px;
    padding-top: 5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
input[type="text"] {
    -webkit-box-sizing: border-box; // Safari/Chrome, other WebKit
    -moz-box-sizing: border-box;    // Firefox, other Gecko
    box-sizing: border-box;         // Opera/IE 8+
}
.container {
    width: 90%;
    margin: 0 auto;
}