<div class="profile">
  <div class="settings">
    <div class="column">
      <div class="setting">
        <div class="settingLabel">
          <span>Role</span>
        </div>
        <div class="settingDescription">
          <p>Данное поле влияет на рекомендуемые товары</p>
          <p>Укажите свою профессию или хобби</p>
        </div>
        <mat-select [(value)]="currentRole.role_id" (selectionChange)="changeRole($event)">
          <mat-option *ngFor="let role of roles" [value]="role.role_id">{{role.name}}</mat-option>
        </mat-select>
      </div>
    </div>

    <div class="column">
      <div class="setting">
        <div class="settingLabel">
          <span>Username</span>
        </div>
        <input disabled class="settingInput" type="text" title="username" placeholder={{currentUsername}} />
      </div>
      <div class="setting">
        <div class="settingLabel">
          <span>Password</span>
          <button class="changeButton">change</button>
        </div>
        <input class="settingInput" type="text" name="" id="" title="password" placeholder="New password" />
      </div>
    </div>
  </div>
  <div class="orders">
    <div *ngFor="let order of orders" class="order">
      <span> Заказ №{{order.order_id}}</span> <span> Статус: {{order.status}}</span> <span> Цена: {{calculatePrice(order)}}</span>
    </div>
  </div>
</div>