<div class="profile">
    <div class="settings">

        <div class="column">
            <div class="selectors">
                <p>Role</p>
                <mat-select multiple>
                    <mat-option>test</mat-option>
                    <mat-option>test</mat-option>
                    <mat-option>test</mat-option>
                    <mat-option>test</mat-option>
                </mat-select>
            </div>
            <div class="selectors">
                <p>Hobbys</p>
                <mat-select multiple>
                    <mat-option>test</mat-option>
                    <mat-option>test</mat-option>
                    <mat-option>test</mat-option>
                    <mat-option>test</mat-option>
                </mat-select>
            </div>
            <div class="selectors">
                <p>Tags</p>
                <mat-select multiple>
                    <mat-option>test</mat-option>
                    <mat-option>test</mat-option>
                    <mat-option>test</mat-option>
                    <mat-option>test</mat-option>
                </mat-select>
            </div>
        </div>

        <div class="column">
            <div class="settingLabel">
                <span>Email</span> <button class="changeButton">change</button>
            </div>
            <input class="email" type="text" name="" id="" title="address" placeholder="email">
            <div class="settingLabel">
                <span>Address</span> <button class="changeButton">change</button>
            </div>
            <textarea class="address" type="text" name="" id="" title="address" placeholder="address"></textarea>
        </div>
    </div>
    <div class="orders">
        <span>order 1</span>
        <span>order 2</span>

    </div>
</div>