<mat-drawer-container>
  <mat-drawer opened mode="side">
    <mat-label>Настройки</mat-label>
    <p></p>
    <mat-divider></mat-divider>
    <p></p>
    <mat-label>Имя пользователя: {{currentUsername}}</mat-label>
    <p></p>
    <mat-label>Роль влияет на рекомендуемые товары</mat-label>
    <p></p>
    <mat-label>Укажите свою профессию или хобби</mat-label>
    <p></p>
    <mat-form-field>
      <mat-label>Роль</mat-label>
      <mat-select [(value)]="currentRole.role_id" (selectionChange)="changeRole($event)">
        <mat-option *ngFor="let role of roles" [value]="role.role_id">{{role.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-divider></mat-divider>
    <p></p>

    <label>Смена пароля</label>
    <p></p>
    <mat-form-field>
      <mat-label>Текущий пароль</mat-label>
      <input matInput #currentPassword type="password" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Новый пароль</mat-label>
      <input matInput #newPassword type="password" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Новый пароль еще раз</mat-label>
      <input matInput #newPasswordAgain type="password" />
    </mat-form-field>
    <button mat-flat-button color="primary">Сменить пароль</button>
  </mat-drawer>

  <p></p>
  <mat-divider></mat-divider>
  <p></p>

  <mat-drawer-content>
    <mat-label>Список заказов</mat-label>
    <p></p>
    <mat-divider></mat-divider>
    <p></p>
    <table mat-table [dataSource]="orders" class="mat-elevation-z8">
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <ng-container matColumnDef="order_id">
        <th mat-header-cell *matHeaderCellDef>Номер заказа</th>
        <td mat-cell *matCellDef="let order"> {{order.order_id}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Количество </th>
        <td mat-cell *matCellDef="let order">
          {{order.status}}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Цена</th>
        <td mat-cell *matCellDef="let order"> {{calculatePrice(order)}}₽ </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Адрес магазина </th>
        <td mat-cell *matCellDef="let order"> {{order.address}} </td>
      </ng-container>

      <ng-container matColumnDef="contact_information">
        <th mat-header-cell *matHeaderCellDef> Комментарий </th>
        <td mat-cell *matCellDef="let order"> {{order.contact_information}} </td>
      </ng-container>

    </table>
  </mat-drawer-content>
</mat-drawer-container>