.profile {
  border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
  border-right: 1px solid rgba($color: #000000, $alpha: 0.1);
  min-height: 400px;
  max-width: 1000px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  padding: 10px;
  box-sizing: border-box;
}

mat-select {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  border-bottom: 1px solid black;
  width: 10%;
}

.setting > mat-select {
  width: 100%;
}

.settings {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.column {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
  font-weight: bold;
  gap: 20px;
}

.setting {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.settingDescription > p {
  font-size: medium;
  font-weight: normal;
}

.settingLabel {
  display: flex;
  justify-content: space-between;
}
.settingLabel > button {
  border: 0;
  border-radius: 0;
  background-color: white;
}
.settingLabel > button:hover {
  background-color: rgba(159, 236, 220, 0.85);
}

.settingInput {
  border: 0px;
  border-bottom: 1px solid black;
  outline: 0px;
  font-size: large;
  padding: 0px;
  width: 100%;
}
.settingInput:focus {
  border-bottom: 1px solid rgba(159, 236, 220, 0.85);
}

.email {
  width: 100%;
  box-sizing: border-box;
}
.address {
  resize: none;
  width: 100%;
  height: 90px;
  box-sizing: border-box;
  border-radius: 0;
}

.orders {
  border-top: 1px solid black;
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.order {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  height: 40px;
  flex-wrap: wrap;
  align-content: center;
}
